In [24]:
import pandas as pd
import seaborn as sns
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline

In [25]:
data = pd.read_csv("cutter.csv")

In [26]:
data.describe()

,year,pitcher_id,avg_speed,pitcher_break_z,rise,pitcher_break_x,Tail,Spin Rate,Spin Effiency,Class
count,1690.0,1690.000000,1690.000000,1690.000000,1690.000000,1690.000000,1690.000000,1690.000000,1690.000000,1690.000000
mean,2021.0,600740.631953,88.052308,29.193254,-0.201775,9.006036,-2.429586,2225.084615,72.379172,0.069822
std,0.0,63641.510501,5.894631,13.216154,11.190746,4.994090,49.675120,326.424060,25.131338,0.254923
min,2021.0,425794.000000,65.700000,10.200000,-45.000000,0.000000,-350.000000,792.000000,10.500000,0.000000
25%,2021.0,571671.500000,83.900000,17.100000,-7.000000,4.800000,-24.000000,2072.250000,51.050000,0.000000
50%,2021.0,608371.000000,88.100000,28.200000,0.000000,8.650000,0.000000,2252.000000,82.500000,0.000000
75%,2021.0,656512.750000,93.200000,37.000000,7.000000,13.300000,19.000000,2414.750000,93.200000,0.000000
max,2021.0,685503.000000,100.100000,74.200000,40.000000,21.900000,322.000000,3295.000000,100.000000,1.000000

In [27]:
uu_features = ['last_name', 'year',' first_name', 'Full_name', 'pitcher_id','team_name_abbrev','player_pitch_id','pitch_type_name','pitch_type','rise','Tail']

In [48]:
team_name = ['team_name']

In [49]:
cutter_fixed= data.drop(uu_features, axis =1)

In [50]:
cutter_fixed1= cutter_fixed.drop(team_name, axis =1 )

In [51]:
cutter_fixed1.head()

,avg_speed,pitcher_break_z,pitcher_break_x,Spin Rate,Spin Effiency,Class
0,92.3,16.0,13.3,2341,98.0,0
1,92.7,13.1,5.7,2487,90.1,0
2,95.1,13.0,6.4,2500,85.1,0
3,94.7,11.3,6.3,2336,91.1,0
4,93.4,12.6,8.0,2362,95.0,0

In [52]:
from sklearn.model_selection import train_test_split

In [53]:
x = cutter_fixed1.drop("Class", axis =1)
y = cutter_fixed1["Class"]

In [54]:
from sklearn.linear_model import LogisticRegression

In [55]:
log_model = LogisticRegression()

In [56]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2)

In [57]:
log_model.fit(x_train, y_train)

/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [58]:
predictions = log_model.predict(x_test)

In [59]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [60]:
accuracy_score(predictions, y_test)

0.893491124260355

In [61]:
CM = confusion_matrix(y_test, predictions)
print(CM)

[[301   2]
 [ 34   1]]

In [62]:
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.90      0.99      0.94       303
           1       0.33      0.03      0.05        35

    accuracy                           0.89       338
   macro avg       0.62      0.51      0.50       338
weighted avg       0.84      0.89      0.85       338

In [63]:
cutter_team = pd.concat([cutter_fixed1, team_name], axis =1)
#churn_fixed = pd.concat([churn_dropped,Geography,Gender], axis =1)

TypeError: cannot concatenate object of type '<class 'list'>'; only Series and DataFrame objs are valid

In [17]:
CUTNB = data[:]

In [18]:
from sklearn.naive_bayes import GaussianNB

In [19]:
model = GaussianNB()

In [20]:
train ,test = train_test_split(CUTNB, test_size = 0.2)
print (train.shape)
print (test.shape)

(1352, 18)
(338, 18)

In [21]:
x_train, x_test, y_train, y_test = train_test_split(x,y)
print(x_train.shape,y_train.shape )
print(x_test.shape, y_test.shape)

(1267, 5) (1267,)
(423, 5) (423,)

In [22]:
model.fit(x_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [23]:
predicted= model.predict(x_test)
expected= y_test

In [24]:
from sklearn import metrics

In [25]:
metrics.accuracy_score(predicted,expected)

0.9219858156028369

In [26]:
matrix = confusion_matrix(expected, predicted)
matrix

array([[369,  28],
       [  5,  21]])

In [27]:
print (classification_report(expected, predicted))

              precision    recall  f1-score   support

           0       0.99      0.93      0.96       397
           1       0.43      0.81      0.56        26

    accuracy                           0.92       423
   macro avg       0.71      0.87      0.76       423
weighted avg       0.95      0.92      0.93       423