In [1]:
import pandas as pd
import seaborn as sns
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data= pd.read_csv("Book3.csv")
#four-seam fastballs

In [3]:
data.head()

,year,last_name,first_name,Full_name,pitcher_id,team_name,team_name_abbrev,avg_speed,pitch_type,player_pitch_id,pitch_type_name,pitcher_break_z,rise,pitcher_break_x,Tail,Spin Rate,Spin Effiency,Class
0,2021,Bergen,Travis,Travis Bergen,664157,Blue Jays,TOR,92.3,FF,664157FF,4-Seamer,16.0,3,13.3,62,2341,98.0,1
1,2021,Sceroler,Mac,Mac Sceroler,669135,Orioles,BAL,92.7,FF,669135FF,4-Seamer,13.1,13,5.7,-15,2487,90.1,1
2,2021,Beasley,Jeremy,Jeremy Beasley,676886,Blue Jays,TOR,95.1,FF,676886FF,4-Seamer,13.0,9,6.4,-13,2500,85.1,1
3,2021,Kela,Keone,Keone Kela,605309,Padres,SD,94.7,FF,605309FF,4-Seamer,11.3,16,6.3,0,2336,91.1,1
4,2021,Miller,Shelby,Shelby Miller,571946,Pirates,PIT,93.4,FF,571946FF,4-Seamer,12.6,20,8.0,5,2362,95.0,1

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1690 entries, 0 to 1689
Data columns (total 18 columns):
year                1690 non-null int64
last_name           1690 non-null object
 first_name         1690 non-null object
Full_name           1690 non-null object
pitcher_id          1690 non-null int64
team_name           1690 non-null object
team_name_abbrev    1690 non-null object
avg_speed           1690 non-null float64
pitch_type          1690 non-null object
player_pitch_id     1690 non-null object
pitch_type_name     1690 non-null object
pitcher_break_z     1690 non-null float64
rise                1690 non-null int64
pitcher_break_x     1690 non-null float64
Tail                1690 non-null int64
Spin Rate           1690 non-null int64
Spin Effiency       1690 non-null float64
Class               1690 non-null int64
dtypes: float64(4), int64(6), object(8)
memory usage: 237.8+ KB

In [5]:
uu_features = ['last_name', 'year',' first_name', 'Full_name', 'pitcher_id', 'team_name','team_name_abbrev','player_pitch_id','pitch_type_name','rise','Tail']

In [6]:
data_w_uu_features = data.drop(uu_features, axis =1)

In [7]:
data_w_uu_features

,avg_speed,pitch_type,pitcher_break_z,pitcher_break_x,Spin Rate,Spin Effiency,Class
0,92.3,FF,16.0,13.3,2341,98.0,1
1,92.7,FF,13.1,5.7,2487,90.1,1
2,95.1,FF,13.0,6.4,2500,85.1,1
3,94.7,FF,11.3,6.3,2336,91.1,1
4,93.4,FF,12.6,8.0,2362,95.0,1
...,...,...,...,...,...,...,...
1685,87.1,FS,34.3,7.2,1335,77.7,0
1686,82.5,FS,36.3,10.0,1181,91.8,0
1687,89.3,FS,27.5,8.0,1450,66.1,0
1688,87.6,FS,28.7,10.0,1259,89.8,0
1689,83.5,FS,33.4,9.9,1087,85.3,0

In [8]:
pitch_type = ['pitch_type']

In [9]:
data_fixed = data_w_uu_features.drop(pitch_type, axis =1 )

In [10]:
data_fixed

,avg_speed,pitcher_break_z,pitcher_break_x,Spin Rate,Spin Effiency,Class
0,92.3,16.0,13.3,2341,98.0,1
1,92.7,13.1,5.7,2487,90.1,1
2,95.1,13.0,6.4,2500,85.1,1
3,94.7,11.3,6.3,2336,91.1,1
4,93.4,12.6,8.0,2362,95.0,1
...,...,...,...,...,...,...
1685,87.1,34.3,7.2,1335,77.7,0
1686,82.5,36.3,10.0,1181,91.8,0
1687,89.3,27.5,8.0,1450,66.1,0
1688,87.6,28.7,10.0,1259,89.8,0
1689,83.5,33.4,9.9,1087,85.3,0

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x = data_fixed.drop("Class", axis = 1)
y = data_fixed["Class"]
#

In [13]:
from sklearn.linear_model import LogisticRegression

In [14]:
log_model = LogisticRegression()

In [15]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2)

In [16]:
log_model.fit(x_train, y_train)

/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [17]:
predictions = log_model.predict(x_test)

In [18]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [19]:
accuracy_score(predictions, y_test)

0.9585798816568047

In [20]:
cm = confusion_matrix(y_test, predictions)
cm

array([[234,   9],
       [  5,  90]])

In [21]:
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.98      0.96      0.97       243
           1       0.91      0.95      0.93        95

    accuracy                           0.96       338
   macro avg       0.94      0.96      0.95       338
weighted avg       0.96      0.96      0.96       338

In [22]:
data_NB = data_fixed[:]

In [23]:
from sklearn.naive_bayes import GaussianNB

In [24]:
model = GaussianNB()

In [25]:
train, test = train_test_split(data_NB, test_size = 0.2)
print(train.shape)
print(test.shape)

(1352, 6)
(338, 6)

In [26]:
x_train, x_test, y_train, y_test = train_test_split(x,y)
print(x_train.shape,y_train.shape )
print(x_test.shape, y_test.shape)

(1267, 5) (1267,)
(423, 5) (423,)

In [27]:
model.fit(x_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [28]:
predictedNB_= model.predict(x_test)
expectedNB_= y_test

In [29]:
from sklearn import metrics

In [30]:
metrics.accuracy_score(predictedNB_,expectedNB_)

0.9125295508274232

In [31]:
matrix = confusion_matrix(expectedNB_, predictedNB_)
matrix

array([[262,  32],
       [  5, 124]])

In [32]:
print(classification_report(expectedNB_, predictedNB_))

              precision    recall  f1-score   support

           0       0.98      0.89      0.93       294
           1       0.79      0.96      0.87       129

    accuracy                           0.91       423
   macro avg       0.89      0.93      0.90       423
weighted avg       0.92      0.91      0.91       423